* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*

font-family: 'Open Sans',
sans-serif;
font-family: 'Oswald',
sans-serif;
font-family: 'Raleway',
sans-serif;

*/

body {
    font-family: 'Oswald',
    sans-serif;
}


/*  header  */
.header {
   background: #202020;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 0;
}

.logo {
    font-family: 'Raleway',
    sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #fff;
}

.header-nav__ul {
    list-style: none;
    display: flex;
}

.header-nav__li {
    margin-right: 10px;
}

.header-nav__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 9px 14px;
    font-weight: 400;
    font-size: 14px;
}

.header-nav__li:last-child {
    margin-right: 0;
}

.header-nav__link:hover {
    background: #e25050;
}
/*  /header  */





/*  /slider  */
.slider {
    background: url(../img/slide__01.jpg) no-repeat center;
    background-size: cover;  
}

.slider-wrapper {
    display: flex;
    align-items: center;
    min-height: 100%;
    height: 580px;
    justify-content: flex-start;
}

.slider-item {
}

.slider-item__h3 {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    padding: 10px 13px;
    background: #202020;
    opacity: 0.9;
    display: inline-block;
}

.slider-item__h1 {
    color: #fff;
    padding: 16px 22px 16px;
    background: #202020;
    opacity: 0.9;
    font-weight: 700;
    font-size: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: block;
}

.slider-item__h2 {
    color: #fff;
    padding: 13px 25px;
    background: #202020;
    opacity: 0.9;
    font-weight: 400;
    font-size: 18px;
    display: inline-block;
}

.slider-item__h3:hover,
.slider-item__h1:hover,
.slider-item__h2:hover {
    background: #e25050;
}


/*  /slider  */




/*  /features  */

.features {
    padding: 60px 0 70px;
}

.features-block {
    text-align: center;
    margin-bottom: 45px;
}

.features-block__title {
    font-weight: 700;
    font-size: 27px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 10px;
}

.features-block__title_red {
    color: #e25050;
}

.features-block__subtitle {
    font-weight: 400;
    font-size: 18px;
    color: #a2a2a2;
}

.features-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features-item {
    height: auto;
    width: 370px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px; 
}
.features-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.features-icon__wrapper {
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
}

.features-icon {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background: #e25050;
}

.features-icon__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.features-img__box {
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%) ;
}

.features-item__content {
    flex-grow: 1;
}

.featuress-item__title {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    margin-bottom: 22px;
    padding-top: 12px;
}

.features-item__text {
    font-family: 'Open Sans',
    sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #777777;
    line-height: 21px;
    margin-bottom: 16px;
}
/*  /features  */





/*  /team  */
.team {
    background: url(../img/team/team__bg.jpg) no-repeat center;
    background-size: cover;
    padding: 60px 0;
}

.team-wrapper {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-item {
    width: 270px;
    height: 315px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
.team-item:hover .team-info {
    top: 0;
}

.team-info {
    position: absolute;
    left: 0;
    top: 240px;
    background: #fff;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 22px 20px;
    transition: top .6s;
}


.team-info__title {
    font-weight: 700;
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.team-info__subtitle {
    font-weight: 400;
    font-size: 12px;
    color: #c4c4c4;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.team-info__text {
    font-family: 'Open Sans',
    sans-serif;
    line-height: 21px;
    font-size: 13px;
    font-weight: 400;
    color: #9b9b9b;
    margin-bottom: 15px;
}

.team-footer {
    text-align: center;
}

.socials__ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.socials__ul_width  {
    width: 180px;
}
    
.fab:hover,
.fas:hover {
    color: #e25050;
}

.fab,
.fas,
.far {
    margin: 0 6px;
    color: #afafaf;
}

/*  /team  */




/*  title  */
.title-block {
    text-align: center;
}

.title {
    font-weight: 400;
    font-size: 21px;
    color: #000;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}
.title_white {
    color: #fff;
}
.title_margin {
    margin-bottom: 24px;
}
.title:after {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 45px;
    display: block;
    background: #000;
}
.title_white:after {
    background: #fff;
    color: #fff;
}

.subtitle {
    font-family: 'Open Sans',
    sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #777777;
    width: 520px;
    max-width: 100%;
    margin: 0 auto;
    line-height: 21px;
}
/*  title  */



/*  gallery  */

.galerry {}

.gallery-wrapper {
    padding: 80px 0;
}

.gallery-block {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery-item {
    width: 270px;
    max-width: 100%;
    margin-bottom: 30px;
}

.gallery-item__gallery {
    position: relative;
    z-index: 25;
}

.gallery-item:hover .gallery-search {
    display: block;
}

.gallery-inner {
    position: relative;
}

.gallery-img {
    height: 180px;
    max-height: 100%;
}

.gallery-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(226, 80, 80, 0.75);
    display: none;
}

.search-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.search-wrapper:hover {
    background: rgb(226, 221, 221);
}

.search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.galley-item__title {
    font-weight: 700;
    font-size: 14px;
    color: #000;
    line-height: 24px;
}

.gallery-item__subtitle {
    font-weight: 400;
    font-size: 12px;
    color: #afafaf;
    line-height: 24px;
}

/*  gallery  */




/*  pricing  */
.pricing {
    background: #e25050;
}

.container {}

.pricing-wrapper {
    padding: 80px 0 60px;
}

.pricing-block {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pricing-item {
    background: #d14343;
    border: 2px solid #d14343; 
    /*
    if you need to change bg change and border
    */
    padding: 50px 0 60px;
    height: auto;
    width: 31%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.pricing-item:hover {
    background: transparent;
    border-color: #fff;
}
.pricing-item:hover .pricing-item__btn {
    background: #fff;
    color: #d14343;
}

.pticing-item__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-bottom: 50px;
}

.pricing-item__price {
    font-weight: 700;
    font-size: 33px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 54px;
}

.pricing-item__price_low {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.pricing-item__ul {
    list-style: none;
}

.pricing-item__li {
    margin-bottom: 20px;
}



.pricing-text {
    display: inline-block;
    color: #fff;
    font-family: 'Open Sans',
    sans-serif;
    font-weight: 400;
    font-size: 14px;
    position: relative;
}
.pricing-text__chekmark {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    fill: #fff;
}

.pricing-item__btn {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    background: #e25050;
    border: none;
    padding: 18px 65px;
    cursor: pointer;
}
/*  pricing  */




/*  partners  */
.partners {
    padding: 60px 0 85px;
}

.partners-block {
    margin: 0 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.partners-item {
    width: auto;
    text-align: -webkit-center;
}

.partners-item img {
    max-width: 100%;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 15px;
    height: 15px;
    background: transparent;
}

.slick-next {
    right: -50px;
    border-right: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
}
.slick-prev {
    left: -50px;
    border-left: 2px solid #cccccc;
    border-top: 2px solid #cccccc;
}

/*  partners  */




/*  footer  */
.footer {
    background: url(../img/world-map.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}
.footer:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .90);
    z-index: 4;
}

.footer-wrapper {
    z-index: 5;
    position: relative;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #323232;
    flex-wrap:wrap;
}

.comment {
    display: flex;  
    align-items: center;
    position: relative;
    width: 620px;
    max-width: 100%;
    padding: 31px 0;
}

.comment-twitter,
.comment-facebook,
.comment-pinterest,
.comment-google,
.comment-tumblr,
.comment-instagram,
.comment-rss {
    color: #fff;
}
.comment-twitter_size {
    font-size: 25px;
    margin: 0 15px 0 0;
}

.comment__img {}

.comment__text {
    font-family: 'Open Sans',
    sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #c6c6c6;
}

.comment__text__gray {
    color: rgb(78, 78, 78)
}

.footer-info {
    padding: 60px 0;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-contact {
    width: 32%;
    max-width: 100%;
}

.footer-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 30px;
}

.footer-contact__text {
    font-family: 'Open Sans',
    sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #c6c6c6;
    margin-bottom: 30px;
    line-height: 21px;
}

.footer-contact__ul {
    list-style: none;
}

.footer-contact__li {
    margin-bottom: 5px;
}

.footer-contact__link {
    font-family: 'Open Sans',
    sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #c6c6c6;
    text-decoration: none;
}

.footer-message {
    width: 57%;
}

.footer-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-form__input {
    background: transparent;
    width: 211px;
    border: 1px solid #4f4f4f;
    text-transform: uppercase;
    padding: 13px 12px;
    margin-bottom: 17px;
    color: #fff;
    outline: none;
}

.footer-form__textarea {
    width: 439px;
    background: transparent;
    border: 1px solid #4f4f4f;
    text-transform: uppercase;
    padding: 13px 12px;
    resize: none;
    margin-bottom: 17px;
    color: #fff;
    outline: none;
}

.footer-message__btn {
    font-weight: 400;
    font-size: 14px;
    width: 211px;
    height: 40px;
    text-transform: uppercase;
    background: #e25050;
    padding: 12px 21px;
    border: none;
    color: #fff;
}

.footer-privacy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 38px;
}

.privacy {
    font-family: 'Open Sans',
    sans-serif;
    font-weight: 300;
    font-size: 12px;
    color:#707070;
}

.privacy__link {
    text-decoration: none;
    font-family: 'Open Sans',
    sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #e25050;
    padding-bottom: 2px;
    border-bottom: 1px solid #e25050;
}
/*  footer  */




.burger-menu {
    display: none;
}



@media(max-width:1366px) {
    .container {
        max-width: 960px;
    }
    .footer-form__input {
        width: 48%;
    }

    .footer-form__textarea {
        width: 100%;
    }
}
@media(max-width:992px) {
    .container {
        max-width: 750px;
    }
    .features-item:nth-last-child(-n + 2) {
        margin-bottom: 0;
    }
    .pricing-block{
        justify-content: center;
    }
    .pricing-item {
        width: 45%;
        margin: 0 15px 30px 15px;
    }
    .footer-links {
        margin: 0 auto 20px;
    }
    .footer-form__input {
        width: 100%;
    }
    .footer-form__textarea {
        width: 100%;
    }

}
@media(max-width:768px) {
    .container {
        max-width: 560px;
    }
    .header-nav {
        display: none;
    }
    .features-item {
        width: 100%;
    }
    .features-item:nth-last-child(-n + 3) {
        margin-bottom: 62px;
    }
    .pricing-item {
        width: 44%;
        margin: 0 15px 30px 15px;
    }
    .pricing-item__btn {
        font-size: 15px;
        padding: 11px 34px;
    }
    /* burger*/
    .burger-menu {
        display: block;
    }

    .burger-menu__button {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 30;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: transparent;
        transition: 0.4s;
    }

    .burger-menu__button:hover .burger-menu__lineas {
        filter: brightness(0.7);
    }

    .burger-menu__lineas,
    .burger-menu__lineas::after,
    .burger-menu__lineas:before {
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: rgb(148, 148, 148);
    }

    .burger-menu__lineas {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .burger-menu__lineas:before {
        content: "";
        top: -8px;
    }

    .burger-menu__lineas:after {
        content: "";
        top: 8px;
    }

    .burger-menu_active .burger-menu__button,

    .burger-menu_active .burger-menu__lineas {
        background-color: transparent;
    }

    .burger-menu_active .burger-menu__lineas:before {
        top: 0;
        transform: rotateZ(45deg)
    }

    .burger-menu_active .burger-menu__lineas:after {
        top: 0;
        transform: rotateZ(-45deg)
    }

    .burger-menu__nav {
        padding-top: 80px;
        position: fixed;
        z-index: 20;
        display: flex;
        flex-flow: column;
        height: 100%;
        width: 100%;
        background-color: #2a2a2a;
        overflow-y: auto;
        right: -1000%;
        transition: 0.5s;
    }

    .burger-menu_active {
        right: 0;
    }

    .burger-menu_active .burger-menu__nav {
        right: 0;
    }

    .burger-menu__link {
        padding: 30px;
        font-size: 32px;
        font-weight: 70;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        letter-spacing: 5px;
    }

    .burger-menu__link:hover {
        filter: brightness(0.7);
    }

    .burger-menu__overlay {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
    }

    .burger-menu_active .burger-menu__overlay {
        display: block;
    }

    /* /burger*/
}

@media(max-width:578px) {
    .container {
        max-width: 90%;
    }
    .slider-item__h1 {
        font-size: 15px;
    }
    .slider-item__h2 {
        font-size: 15px;
    }
    .features {
        padding: 60px 0 0;
    }
    .team {
        padding: 30px 0;
    }
    .team-item {
        width: 75%;
        height: auto;
        margin: 0 auto 30px;
    }
    .team-item__img {
        width: 100%;
        height: 100%;
    }
    .team-info {
        top: 80%;
        padding: 20px;
    }
    .team-footer {
        width: 60%;
        margin: 0 auto;
    }
    .gallery-wrapper {
        padding: 30px 0;
    }
    .gallery-item {
        width: 100%;
        display: none;
    }
    .gallery-item:first-child {
        display: block;
        text-align: center;
    }
    .gallery-search {
        display: none;
    }
    .gallery-item:hover .gallery-search {
        display: none;
    }
    .gallery-img {
        height: auto;
    }
    .pricing-wrapper {
        padding: 20px 0 10px;
    }
    .pricing-item {
        width: 300px;
        margin: 0 0 15px;
        padding: 20px 0 20px;
    }
    .pticing-item__title {
        margin-bottom: 5px;
    }
    .pricing-item__price {
        font-size: 26px;
    }
    .comment {
        width: 100%;
    }
    .footer-links {
        margin-bottom: 30px;
        margin: 0 auto 30px;
    }
    .footer-contact {
        width: 50%;
        margin-bottom: 30px;
    }
    .footer-message {
        width: 50%;
    }
}


@media (max-width:400px) {
    .team {
        padding: 30px 0;
    }

    .team-item {
        width: 100%;
        height: auto;
        margin: 0 auto 30px;
    }

    .team-item__img {
        width: 100%;
        height: 100%;
    }

    .team-info {
        top: 75%;
        padding: 20px;
    }

    .team-footer {
        width: 60%;
        margin: 0 auto;
    }
}

::-webkit-input-placeholder {
    /* Chrome */
    color: #656565;
}


:-ms-input-placeholder {
    /* IE 10+ */
    color: #656565;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #656565;
    opacity: 1;
}

:-moz-placeholder {
    /* Firefox 4 - 18 */
    color: #656565;
    opacity: 1;
}